{
  "extends": [
    "memcrab",
    "plugin:i18next/recommended"
  ],
  "plugins": [
    "prettier",
    "only-warn",
    "i18next"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "globals": {
    "JSX": true
  },
  "rules": {
    "jsdoc/newline-after-description": "off",
    "i18next/no-literal-string": [
      2,
      {
        "onlyAttribute": [
          ""
        ]
      }
    ]
  }
}