{
  "extends": [
    "memcrab",
    "plugin:i18next/recommended",
    "plugin:jest-dom/recommended"
  ],
  "plugins": [
    "prettier",
    "only-warn",
    "i18next",
    "jest-dom"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "globals": {
    "JSX": true
  },
  "rules": {
    "jsdoc/newline-after-description": "off",
    "i18next/no-literal-string": [
      2,
      {
        "onlyAttribute": [
          ""
        ]
      }
    ],
    "@typescript-eslint/consistent-type-imports": "off",
    "jsdoc/require-jsdoc": "off"
  },
  "overrides": [
    {
      "files": [
        "**/src/**/*.test.{ts,tsx}"
      ],
      "rules": {
        "i18next/no-literal-string": "off"
      }
    }
  ]
}